.login-area, .signup-area {
    background-color: #f5f5f5;
    border: 1px solid #eeeeee;
    padding: 30px;
    overflow: hidden;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #428bca;
}

.nav-pills > li > a {
    border-radius: 0px;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: none;
}

.nav-stacked > li {
    margin-top: 0;
    margin-left: 0;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
}

.active2 {
    border-right: 6px solid #428bca;
    background-color: #eeeeee;
}

/*Business Card Css */
.business-card {
    border: 1px solid #cccccc;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: #E0F2F1;
}

/*Custom Status Badge*/
.status {
    font-size: 11px;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 5px;
}

.status-pending {
    color: #f9a023;
    border: 1px solid #f9a023;
}

.status-success {
    color: #1B5E20;
    border: 1px solid #1B5E20;
}

.status-cancelled {
    font-size: 11px;
    text-transform: uppercase;
    color: #F44336;
    border: 1px solid #F44336;
    border-radius: 3px;
    padding: 8px;
}

/*Invoice fields*/
.invoice-title h2, .invoice-title h3 {
    display: inline-block;
}

.table > tbody > tr > .no-line {
    border-top: none;
}

.table > thead > tr > .no-line {
    border-bottom: none;
}

.table > tbody > tr > .thick-line {
    border-top: 2px solid;
}

/* Product Gallery */
.product-title {
    font-size: 18px;
    font-weight: 500;
}

.product-desc {
    padding-left: 3px;
}

.price {
    font-size: 16px;
    margin: 0 auto;
    color: #333;
}

.thumbnail {
    opacity: 1.0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.thumbnail:hover {
    opacity: 1.00;
    box-shadow: 0px 0px 10px #4bc6ff;
}

.line {
    margin-bottom: 5px;
}

@media screen and (max-width: 770px) {
    .right {
        float: left;
        width: 100%;
    }
}

.pagination > li > a, .pagination > li > span {
    border-radius: 50% !important;
    margin: 0 5px;
}

.popover-content {
    margin-left: 10px;
}

.popover {
    width: 100px;
}

.row {
    padding-top: 5px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: left;
}